<div class="kit-combobox">
	<div (click)="opened = !opened">
		<ng-diy-ui-combobox-option class="kit-combobox-value">{{
			optionValue ? optionValue.text : ""
		}}</ng-diy-ui-combobox-option>
	</div>
	<div
		*ngIf="groups.length !== 0"
		[@listState]="opened ? 'opened' : 'closed'"
		class="kit-combobox-groups"
	>
		<ng-content select="ng-diy-ui-combobox-option-group"></ng-content>
	</div>
	<div
		*ngIf="groups.length === 0"
		[@listState]="opened ? 'opened' : 'closed'"
		class="kit-combobox-options"
	>
		<ng-content select="ng-diy-ui-combobox-option"></ng-content>
	</div>
</div>
